@media (min-width: 800px) {
  
}


.page {
  min-with: 1200px;
}

.tit-1 {
  font-size: 48px;
}

.tit-2 {
  font-size: 36px;
}

.tit-3 {
  font-size: 24px;
}

.txt {
  font-size: 20px;
}

.txt-desc {
  font-size: 16px;
}

